{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "semi": [2, "never"],
    "babel/new-cap": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "globals": {
    "document": true
  }
}
